@use '../utils' as *;

.div {
	border-radius: 20rem;
	background-color: var(--c-prim-light);
	bottom: 50%;
	margin: 3.5rem auto;
	height: 0.65rem;
	position: relative;
	width: 1000px;

	.ball:nth-child(n + 1) {
		position: absolute;
		bottom: -250%;
		cursor: pointer;
	}

	@media screen and (max-width: 1500px) {
		width: 800px;
		margin: 3rem auto;
		.ball:nth-child(n + 1) {
			> svg {
				max-width: 50px;
			}
		}
	}

	@media screen and (max-width: 1200px) {
		width: 700px;
		margin: 2rem auto;
		.ball:nth-child(n + 1) {
			> svg {
				max-width: 45px;
			}
		}
	}

	@media screen and (max-width: 1000px) {
		width: 600px;
		margin-bottom: 1rem;
		.ball:nth-child(n + 1) {
			> svg {
				max-width: 40px;
			}
		}
	}

	@media screen and (max-width: 850px) {
		width: 500px;
		margin-bottom: 0.5rem;

		.ball:nth-child(n + 1) {
			> svg {
				max-width: 35px;
			}
		}
	}

	@media screen and (max-width: 720px) {
		width: 400px;

		.ball:nth-child(n + 1) {
			> svg {
				max-width: 30px;
			}
		}
	}

	@media screen and (max-width: 600px) {
		width: 250px;
		height: 0.5rem;

		.ball:nth-child(n + 1) {
			bottom: -350%;
			> svg {
				max-width: 20px;
			}
		}
	}

	@media screen and (max-width: 500px) {
		margin: 1.5rem auto;

		.ball:nth-child(n + 1) {
			bottom: -350%;
			> svg {
				max-width: 20px;
			}
		}
	}

	@media screen and (max-width: 360px) {
		margin: 1rem auto;
		width: 200px;
		height: 0.4rem;
		.ball:nth-child(n + 1) {
			bottom: -450%;
			> svg {
				max-width: 15px;
			}
		}
	}
}
.story {
	@include display-flex(flex-start, flex-start, 0);
	flex-direction: column;
	&__heading {
		font-family: var(--f-company-name);
		color: var(--c-white);
		font-size: 2.5rem;
		letter-spacing: 4px;

		& + p {
			font-family: var(--f-heading-navbar);
			font-size: 1.5rem;
			font-weight: bold;
			line-height: 1.75rem;
			margin-top: 0.75rem;
			color: #fff;
		}
	}

	&__content {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 2rem;

		&-item {
			display: none;

			&.active {
				display: block;
			}
			&__title {
				font-family: var(--f-company-name);
				color: #a81de4;
				letter-spacing: 2px;
				font-size: 2rem;
				text-align: center;
			}
			&__story {
				display: flex;
				margin-top: 1.25rem;
			}

			&__paragraph {
				width: 60%;
				font-family: var(--f-heading-navbar);
				font-weight: bold;
				color: #7917a3;
				font-size: 1.5rem;
				line-height: 2.25rem;
				padding-right: 2rem;
			}

			&__img {
				@extend %img-reset;
				width: 40%;
				max-height: 350px;
				object-fit: cover;
				border-radius: 1.5rem;

				&-left {
					order: -1;
				}
			}
		}
	}

	&__button {
		margin: 1.5rem auto 0;
	}

	@media screen and (max-width: 1500px) {
		&__heading {
			font-size: 2.25rem;
			& + p {
				font-size: 1.25rem;
			}
		}

		&__content-item__paragraph {
			font-size: 1.25rem;
		}
	}

	@media screen and (max-width: 1200px) {
		&__heading {
			font-size: 2rem;
			& + p {
				font-size: 1.15rem;
				line-height: 1.5rem;
			}
		}

		&__content-item {
			&__title {
				font-size: 1.75rem;
			}
			&__paragraph {
				font-size: 1.15rem;
				line-height: 1.75rem;
			}
		}
	}

	@media screen and (max-width: 1000px) {
		&__heading {
			font-size: 1.75rem;
			& + p {
				font-size: 1rem;
				line-height: 1.25rem;
			}
		}

		&__content {
			// margin-top: 1rem;
			padding: 1.25rem;
			&-item {
				&__title {
					font-size: 1.5rem;
				}
				&__paragraph {
					font-size: 1rem;
					line-height: 1.5rem;
				}
			}
		}
	}

	@media screen and (max-width: 850px) {
		&__heading {
			font-size: 1.5rem;
			& + p {
				font-size: 0.9rem;
				line-height: 1.15rem;
			}
		}

		&__content-item {
			&__title {
				font-size: 1.25rem;
			}
			&__paragraph {
				font-size: 0.9rem;
				line-height: 1.25rem;
			}
		}
	}

	@media screen and (max-width: 800px) {
		&__content-item__paragraph {
			font-size: 0.8rem;
		}
	}

	@media screen and (max-width: 720px) {
		&__content-item {
			&__story {
				flex-direction: column-reverse;
			}
			&__paragraph {
				min-width: 100%;
				font-size: 1rem;
				padding-top: 1.25rem;
				padding-right: 0rem;
				line-height: 1.35rem;
			}

			&__img {
				width: 100%;
			}
		}
	}

	@media screen and (max-width: 600px) {
		&__heading {
			font-size: 1.25rem;
			& + p {
				font-size: 0.8rem;
				line-height: 1rem;
			}
		}

		&__content {
			margin-top: 1rem;
			&-item {
				&__title {
					font-size: 1.25rem;
				}
				&__paragraph {
					font-size: 0.9rem;
					line-height: 1.25rem;
				}

				&__img {
					max-height: 250px;
				}
			}
		}

		&__button {
			margin: 1rem auto -0.75rem;
		}
	}

	@media screen and (max-width: 500px) {
		&__heading {
			font-size: 1.1rem;
			& + p {
				font-size: 0.7rem;
				line-height: 0.9rem;
			}
		}

		&__content {
			margin-top: 0.5rem;
			&-item {
				&__title {
					font-size: 0.85rem;
				}
				&__paragraph {
					font-size: 0.8rem;
					line-height: 1rem;
				}

				&__img {
					max-height: 200px;
				}
			}
		}

		&__button {
			margin: 1rem auto -1.25rem;
		}
	}

	@media screen and (max-width: 400px) {
		padding: 0 1rem !important;
		&__heading {
			font-size: 0.9rem;
			& + p {
				font-size: 0.6rem;
				line-height: 0.7rem;
			}
		}

		&__content {
			&-item {
				&__title {
					font-size: 0.8rem;
				}
				&__paragraph {
					font-size: 0.6rem;
					line-height: 0.8rem;
				}

				&__img {
					max-height: 175px;
				}
			}
		}
	}

	@media screen and (max-width: 360px) {
		&__heading {
			font-size: 0.8rem;
			& + p {
				font-size: 0.5rem;
				line-height: 0.6rem;
			}
		}

		&__content {
			&-item {
				&__title {
					font-size: 0.6rem;
				}
				&__paragraph {
					font-size: 0.45rem;
					line-height: 0.6rem;
				}

				&__img {
					max-height: 130px;
				}
			}
		}
	}
}
