@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Holtwood+One+SC&display=swap');

:root {
	//text fonts
	--f-heading-navbar: 'Baloo Bhaina 2', sans-serif;
	--f-company-name: 'Holtwood One SC', serif;
	//colors
	--c-prim-light: #a81de4;
	--c-ter-light: #faef90;
	--c-bg-light: #e0a2fa;
	--c-bg-footer-light: #dc8bff;
	--c-black: #000;
	--c-white: #fff;
}
