.btn {
	// display: inline-block;
	padding: 0.15rem 1.25rem;
	border-radius: 2rem;
	border-color: transparent;
	color: var(--c-white);
	background-color: var(--c-prim-light);
	font-family: var(--f-heading-navbar);
	font-weight: bold;
	font-size: 1.1rem;
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover {
		background-color: var(--c-white);
		color: var(--c-prim-light);
	}

	&-reverse {
		color: var(--c-prim-light);
		background-color: var(--c-white);

		&:hover {
			color: var(--c-white);
			background-color: var(--c-prim-light);
		}
	}

	@media screen and (max-width: 1500px) {
		font-size: 0.75rem;
	}

	@media screen and (max-width: 1170px) {
		font-size: 0.65rem;
		padding: 0.1rem 0.9rem;
	}

	@media screen and (max-width: 720px) {
		font-size: 1rem;
		padding: 0.1rem 0.9rem;
	}

	@media screen and (max-width: 580px) {
		font-size: 0.75rem;
		padding: 0.1rem 0.9rem;
	}

	@media screen and (max-width: 500px) {
		font-size: 0.5rem;
		padding: 0.1rem 0.6rem;
	}

	@media screen and (max-width: 400px) {
		font-size: 0.4rem;
		padding: 0.1rem 0.4rem;
	}

	@media screen and (max-width: 360px) {
		font-size: 0.3rem;
		padding: 0.1rem 0.35rem;
	}

	&-donut {
		padding: 0 1rem;
		font-size: 1rem;

		@media screen and (max-width: 1750px) {
			font-size: 14px;
		}

		@media screen and (max-width: 1500px) {
			padding: 0 0.85rem;
		}

		@media screen and (max-width: 1500px) {
			font-size: 12px;
			padding: 0 0.75rem;
		}

		@media screen and (max-width: 1350px) {
			font-size: 10px;
			padding: 0 0.65rem;
		}

		@media screen and (max-width: 900px) {
			font-size: 8px;
			padding: 0 0.5rem;
		}

		@media screen and (max-width: 720px) {
			font-size: 12px;
			padding: 0 0.5rem;
		}

		@media screen and (max-width: 400px) {
			font-size: 8px;
			padding: 0 0.4rem;
		}

		@media screen and (max-width: 360px) {
			font-size: 7px;
			padding: 0 0.3rem;
		}
	}

	&-form {
		width: fit-content;
		padding: 0 1.2rem;
		font-size: 0.95rem;

		@media screen and (max-width: 800px) {
			font-size: 0.85rem;
		}

		@media screen and (max-width: 720px) {
			font-size: 0.95rem;
		}

		@media screen and (max-width: 500px) {
			font-size: 0.85rem;
		}

		@media screen and (max-width: 400px) {
			font-size: 0.75rem;
		}
	}
}
